:root {
  --font-inter: 'Inter';
  --body-font-family: 'Poppins';
  --heading-font-family: 'Roboto';
  --color-primary: '#2095F2';
  --color-secondary: '#EE2279';
  --color-tertiary: '#12A454';
  --color-error: '#E52E4D';
  --color-heading: '#363F5F';
  --color-body: '#969CB2';
  --color-background: '#F0F2F5';
  --color-warning-base: '#FEEBC8';
  --color-warning-darken1: '#DD6B20';
}

$container-size: 70rem;
$container-spacing: 5vw;
